body{
	background-color: #f7f7f7;
	touch-action :auto;
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
	min-width: 100%;
	
}

html{
	min-width: 1250px;
	min-height: 600px;
}

.mont-reg{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.mont-light{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.blue-btn:hover,.blue-btn:active{
-webkit-box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
-moz-box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
box-shadow: 0px 10px 20px -10px rgba(0,144,234,1);
}

.navbar{
    background-color: white;
    min-height: 55px !important;
	padding: 0px 0px;
	box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.4);
}

.nav>li{
	width: 300px;
}

.fa-ellipsis-v{
margin-top: 16px;
    font-size: 20px !important;
}

.fa-ellipsis-v:hover{
cursor: pointer;
}

.purchase-header{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	background-color: #03a9f44d;
}

.redeem-header{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	background-color: #00af648a;
}

.dividend-header{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	background-color: #6500ff8a;
}


.material-icons{
	color: #7f7f7f;
}

.top_bar_icons{
	font-size: 30px !important;
}

.side_icon{
	color: #b2b2b2;
}

.client_name{
	    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 14px;
}

.client_bar{
	padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #e8e8e8;
}

.side_icon{
	color: #7f7f7f;
}

.key_right,.dot_btn{
	font-size: 28px !important;
}

.content_header{
	font-size: 13px;
}
.amount_header{
	font-size: 18px;
	margin-bottom: 0px;
	color: #555;
}

.table_heading{
	font-size: 12px;
	color: #777;
	text-align: center;
}

.table_data{
	text-align: center;
}

.table-wrapper{
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: 60vh;
}

.scheme_name{
	min-width: 200px;
	text-align: left;
}

.scheme_name_p{
	text-align: left !important;
}

td>p{
	margin-bottom: 0px;
	color: #555;
	font-size: 12px;
}


.dropdown-menu{
	padding: 0px;
	margin: 0px;
	min-width: 125px;
	margin-left: 20px;
}

.dropdown-menu>li>a {
	padding: 5px 10px;
	text-align: center;
	color: #777;
	border-bottom: 1px solid #e8e8e8 !important;
	font-size: 12px;
}

#settings:hover{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.cis{
	color: #00AF64;
	font-size: 18px;
}

a:hover{
	text-decoration: none;
}

#logout:hover{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.group:hover{
	cursor: pointer;
}


#profile_text{
    margin-bottom: 0px;
    text-align: center;
    padding: 12px;
    background-color: #f7f7f7;
    font-size: 14px;
    margin-top: 5px;
    color: #00AF64;
}

#user_name{
margin-bottom: 0px;
    font-size: 14px;
    margin-top: 15px;
    display: inline-block;
}

#menu_btn{
	margin-bottom: 0px;
}

#navbar_container{
	
}

#sidebar_icon{
	    margin: 0px 15px;
}

#sidebar_icon:hover,.dot_btn:hover,.key_right:hover{
	background-color: #eee;
	transition: 0.3s;
	border-radius: 4px;
	color: #00AF64;
}

#sidebar,#contentbar{
	min-height: 90vh;
	background-color: white;
	box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.4);
    border-radius: 15px;
}

#contentbar_wrapper{
	padding: 0px 40px 0px 10px !important;

}

.dop{
	min-width: 100px;
}

#sidebar_wrapper{
	    padding: 0px 10px 0px 30px !important;
}

#op_bar{
	padding: 10px 0px;
	-webkit-box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
	-moz-box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
	box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
}
#search_bar{
	box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
	height: 50px;
}
#drop{
	display: inline;
}

#client_parent,#client_child{
    margin: 0px 15px;
}


#client_det{
	padding: 15px 0px;
	font-size: 18px;
	margin-bottom: 0px;
	display: inline;
	margin-top: 10px;
}

#client_relbar{
	    border-bottom: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
	    padding: 15px 0px;
}

#invdetails_bar{
	padding: 15px 0px;
	-webkit-box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
	-moz-box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
	box-shadow: 0px 5px 16px -5px rgba(226, 225, 225, 1);
}

#scheme_export{
    display: inline;
    float: right;
    width: 35%;
    text-align: center;
}

#add_scheme_btn,#export_btn, #add_bond_btn, #add_pms_btn{
	width: 32%;
    font-size: 12px;
}



#add_scheme_btn, #add_bond_btn, #add_pms_btn{
	color: #00AF64;
	background-color: white;
	border-radius: 25px;
	border : 2px solid #00AF64;
}

#export_btn,#add_user_btn{
	color: white;
	background-color: #00AF64;
	border-radius: 25px;
	border : 2px solid #00AF64;

}

.btn:focus{
	outline: none;
}


/*#table-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#table-wrapper::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#table-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #555;
}*/
.pr-0{
	padding-right: 0px !important;
}

#addBondModal .form-group select{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
	margin-top: 10px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 52px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid rgba(234, 234, 234, 0.5);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 50px;
    z-index: 9;
}

.navbar-right .dropdown-menu {
    right: -60px;
    left: auto;
    top: 30px;
    border-radius: 8px;
}

.dropdown-menu{
	max-width: 100px !important;
}


#modal_header,#modal_header2{
	text-align: center;
	color: #555;
	font-size: 16px;
}


.modal-dialog{
	width: 400px;
}

#dividend-units,#dividend-date,#dividend-amount,.input-field,#price-nav,#brok-btn,#redeem-units,#stt,#exit-load,#edit_name,#option_type,#admin_password3,#admin_password2,#new_date,#priority_change,#current_value,#status_id,#scheme_name,#scheme_type,#amc_name,#amt_inv,#redeem-date,#dop,#inv_type,#purchase_nav,#old_password,#new_password,#repeat_password,#folio_number,#new_user_name,#email,#password,#new_scheme_name,#scheme_code,.pan_no,#nav_date,#admin_password,#inv_name,#pan,#email_id,#content_number,#address,#add_user,#inv_name,#priority_id,#etc_id,#description_id, #redeem-amount{
	border: none;
    border-bottom: 1px solid #b7b7b7;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    padding-bottom: 6px;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    margin-top: 5%;
    font-size: 13px;
    font-weight: 300;
    color: #555;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	resize: none;
}

.modal-submit-btn{
	color: white;
	background-color: #00AF64;
	border-radius: 25px;
	border-color: #00AF64;
	width: 25%;
	margin: 5px auto;
	display: block;
	margin-top: 20px;
}

#month{
	margin-top: 20px;
	display: inline-block;
}

#year{
	width: 30%;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;
}

.pan_no{
	margin-left: 20px;
    width: 13%;
    margin-top: 15px;
    font-size: 16px;
}

#nav_date{
    display: block;
    width: 50%;
    margin-top: 0px;
    margin:0px auto;
    font-size: 14px;
    padding-left: 0px;
}

#nav_as{
	 margin-left: 15px;
    border-left: 1px solid #555;
    padding-left: 20px;

}

#user_pan_no{
	    margin-left: 17px;
    margin-top: 15px;
    font-size: 16px;
    display: inline;
}

#pan_container{
	    margin-top: 15px;
    font-size: 16px;
    margin-left: 16px;
}

#dividend-btn,#edit_inv,#check_admin_pass3,#change_date,#add_scheme,#check_admin_pass,#add_user,#save_access,#add_ticket_btn,#edit_ticket_btn,#change_btn,#check_admin_pass2, #brok-btn, #add_corp_btn, .edit-pms{
	color: white;
	background-color: #00AF64;
	border-radius: 25px;
	border-color: #00AF64;
	width: 25%;
	margin: 5px auto;
	display: block;
}

.edit-pms{
	margin-top: 20px;
}

#add_scheme:hover{
	transition: 0.3s;
}

#change_pass{
	margin-bottom: 0px;
}

#cis_wrapper{
	overflow-x: hidden;
	overflow-y: hidden;
}

.modal-backdrop {
   background-color: white;
   opacity: 0.8%
}

.modal-content{
	box-shadow: 0px 1px 25px 3px rgba(226, 225, 225, 0.6);
	border : none;
}

.sub_person_bar{
	border-bottom: 1px solid #e8e8e8;
	padding-top: 10px;

}

.sub-person:hover{
	text-decoration: none;
	color: #555;
}

.sub_person_edit:hover{
	cursor: pointer;
}

.sub_person_option{
	margin-left: -25px;
	min-width: 80px;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	transform: translateY(0%);
  	transition-delay: 0s, 0s, 0.3s;
}

.remove,.person_remove,.sub_person_remove{
	color: #ff5252 !important;
}

.open>.dropdown-menu {
    display: block;
    border: none !important;
        -moz-transition:    all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -o-transition:      all 1000ms ease;
    -ms-transition:     all 1000ms ease;
    transition:         all 1000ms ease;
}

.dropdown ul.sub_person_option:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 32px;
    z-index: 10;
}
.dropdown ul.sub_person_option:after {
    content: "";
    border-bottom: 12px solid rgba(234, 234, 234, 0.5);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 30px;
    z-index: 9;
}

.group_head,.person_name,.sub_person_name,.group_name_rename,.person_name_rename,.subperson_name_rename{
    border: none;
    border-bottom: 1px solid #b7b7b7;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    /* padding-bottom: 6px; */
    outline: none;
    outline-style: none;
    outline-offset: 0;
    /* margin-top: 8%; */
    font-size: 14px;
    font-weight: 300;
    color: #333;
    font-weight: 400;
}

.material-icons:hover{
	cursor: pointer;
}

#ui-datepicker-div{
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400 !important;
}

.client_bar:hover,.sub_person_bar:hover{
	border-left: 3px solid #00AF64;
	transition: 0.14s;
}

.client_bar:active,.sub_person_bar:active{
	border-left: 3px solid #00AF64;
}

.cis_div{
	padding-bottom: 10px;
		font-family: 'Montserrat', sans-serif !important;
	font-weight: 400 !important;
}

.logo{
	height: 30px;
    margin-top: -5px;
}

.delete_investment{
	font-size: 20px !important;
}

.admin-group-members{
	background-color: #f6f6f6;
}

.admin-client-bar{
	color: #00AF64;
}

.padding-b-10{
	padding-bottom: 10px;
}

/*.side_icon_parent > i{
	transform:rotateX(0deg);
}


.side_icon_parent.collapsed > i{
	transition:transform .5s;
  	transform:rotateX(150deg);
}*/

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: dodgerblue;
}

#edit_pan{
	    font-size: 16px;
    margin-left: 10px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid #00AF64;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
}

.client_wrapper{
	
	max-height: 75vh;
	overflow-y: scroll;
	padding: 0px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.noti-icon,.ind-noti-icon{
	font-size: 20px !important;
}

#add_query{
	border-radius: 30px;
    font-size: 13px;
    padding: 4px 15px;
    margin: 0px 15px;
    background-color: #d5d5d5;
    color: #00AF64;
    border-color: #d5d5d5;
}

.query-dialog{
	width: 650px;
}

#save_query,#save_new_query{
	    border-radius: 50px;
    border-color: #00AF64;
    background-color: #00AF64;
    color: white;
    padding: 0px 15px;
}

#query_select,#new_query_select{
	border-radius: 3px;
    font-size: 14px;
    width: 110px;
}

th{
	font-weight: normal;
}

tr>td{
	padding: 10px 0px !important;
}

.table{
	text-align: center;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}

.modal-body{
	padding: 0px 0px 15px;
}

.query_date,#new_query_text,#new_query_date{
	    border: none;
    border-bottom: 1px solid #d5d5d5;
    width: 50%;
}

#update_query_form{
	display: inline;
}

.query-icon{
	    font-size: 14px !important;
    margin-top: ;
    display: block !important;
    margin-top: -32.5px;
    color: #ff3333;
    background-color: bl;
    margin-left: 10px;
}

#aum{
	margin-left: 5px;
}

.aum-container{
	font-size: 16px;
	margin-bottom: 0px;

}

#aum-text{
	
}

#admin_text{
	margin-top: 10px;
}

#growth_type {
    font-size: 12px;
    color: #00AF64;
    margin-bottom: 2px;
}

#xirr {
	margin-left: 15px;
	border-left: 1px solid #555;
	padding-left: 20px;
}

#investment_table tbody>tr:hover {
	background-color: #ECECEC;
}

#is_inv,#is_aum {
	margin-left: 50px;
}

.change_investment{
	font-size: 16px !important;
}

.notification-icon {
    padding-top: 14px;
    padding-left: 25px;
}

#notifications {
    height: 360px;
    background-color: white;
	display: none;
    width: 375px;
    position: absolute;
    top: 46px;
    left: -222px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.2);
    z-index: 1;
    border-radius: 5px;
	min-height: 0px; 
    max-height: 360px;
    overflow-y: scroll;
}

#notification-ul {
	list-style: none;
	padding: 0px;
}

#span-time {
	float: right;
}

#notification-div {
	padding: 15px;
	/*padding-left: 15px;*/
	padding-right: 10px;
}

#notification-master {
	border-bottom: solid 1px #d7d7d7;
}

#p-investorname {
	font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

#p-fundname {
	font-size: 14px;
}

#span-amount {
	font-size: 16px;
	font-weight: 500;
}

#span-time {
	font-size: 12px;
	font-weight: 300;
	padding-top: 4px;
}

svg{
	vertical-align: super;
    margin-left: -11px;
    display: inline-block;
    position: absolute;
    padding-top: 2px;
    margin-top: 6px;
}

#export_as{
	    margin-left: 256px;
    margin-top: 15px;
	display: none;

}

.withdraw-holder a{
	color: #00AF64;
	font-size: 12px;
}

#redeem-form .btn{
	color: white;
	background-color: #00AF64;
	border-radius: 25px;
	border: 2px solid #00AF64;
	margin-top: 20px;
}


.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999999;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 8px solid transparent;
	border-radius: 50%;
	border-top: 8px solid #0091EA;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 1s linear infinite;
	display: none;
}

.edit_investment, .delete_withdraw{
	vertical-align: bottom;
	margin-left: 10px;
	font-size: 20px !important;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#all-units-holder{
	margin-top: 20px;
}

.access-user{
        /* padding-left: 20px; */
    margin: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.access-user span:last-child{
	float: right;
}


#client-inv-details{
	display: inline;
}

#client-inv-details span{
	margin: 0px 15px;
}

td.bond_name{
	width: 250px;
}

#bond_table_body tr>td:first-child .material-icons{
	vertical-align: middle;
	display: inline;
}

.add-interest{
	display: block;
	font-size: 12px;
	color: #00AF64;
}

.add-interest:hover{
	cursor: pointer;
	color: initial;
}
.module-links{
	margin-top: 15px;
	display: inline-block;
	margin-left: 15px;
	font-size: 18px;
	color: #00AF64;
}

.form-helper{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 12px;
	color: #00AF64;
}

.bond-input{
	margin-top: 5px;
}

.upload_as, .download_as{
	vertical-align: middle;
	margin-left: 5px;
	font-size: 20px !important;
}

#acc-statement{
	margin-top: 20px;
	margin-bottom: 20px;
}

.download-div{
	text-align: left;
}

#search-input,#search-input-admin{
    margin: 10px;
    width: 95%;
    border: none;
    height: 30px;
    background: #a9a9a921;
    border-radius: 11px;
    padding: 5px;
    padding-left: 10px;
    display: block;
}

#search-input:focus{
	outline: none;
}

#search-icon{
    display: inline-block;
    position: relative;
    float: right;
    bottom: 35px;
    right: 20px;
}

.twitter-typeahead{
	width: 100%;
}
.tt-menu{
	top:70% !important;
	left: 20px !important;
    width: 86%;
}

i[data-status="true"]{
	color: #0091EA !important;
}

.dividends{
	vertical-align: middle !important;
	margin-left: 5px;
	font-size: 20px !important;
}